html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgb(255,255,255);
  font-family: sans-serif;
}
main {
  height: 99%;
  column-count: 3;
  column-gap: 2px;
}
main img {
  width: 100%;
  height: 100%;
}
main form {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 5%;
  width: auto;
  height: 4em;
  margin: auto;
}
nav {
  position: absolute;
  margin: auto;
  width: 0;
  bottom: 33%;
  top: 67%;
  right: 0;
  left: 0;
}
nav input:hover {
  opacity: 1.0;
}
fieldset {
  border: none;
  padding: 0;
}
nav input {
  background-color: rgba(255,255,255,0.67);
  position: absolute;
  height: 4em;
  opacity: 0.25;
}
nav input[name=fwd] {
  transform: translate(-50%, -200%);
}
nav input[name=rev] {
  transform: translate(-50%, -75%) rotate(180deg);
}
nav input[name=left] {
  transform: translate(-200%, -125%) rotate(270deg);
}
nav input[name=right] {
  transform: translate(100%, -125%) rotate(90deg);
}
aside {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translate(0, -50%);
  background-color: rgba(128,128,128,0.5);
  padding: 1em;
}
aside input {
  height: 4em;
  display: list-item;
  margin: 1em auto;
}
main input[type=image] {
  height: 4em;
  display: inline-block;
  margin: 1em auto;
}
aside fieldset {
  border: none;
  padding: 0;
}
